.about_us{
    padding-top: 120px;
    .about_heading{
        h2{
            font-size: 42px;
            color: $white;
            span{
                color: $yellow;
            }
        }
    }
    .clint_review{
        border: 1px solid #313131;
        color: $white;
        padding: 40px;
        box-sizing: border-box;
        border-radius:0 8px 0 8px;
        margin-top: 108px;
        transition: all linear .3s;
        @include media-breakpoint-between(xs, lg){
            padding: 20px;
        }
        svg{
            font-size: 24px;
        }
        p{
            font-size: 18px;
            color: $darkWhite;
            font-weight: 400;
            padding: 24px 0 27px 0;
            @include media-breakpoint-between(xs, lg){
               font-size: 14px;
            }
        }
        img{
            width: 50px;
        }
        .clint_profile{
            align-items: center;
            span{
                display: block;
                font-weight: 400;
                font-size: 20px;
                margin-left: 16px;
                @include media-breakpoint-up(xs){
                    font-size: 14px;
                }
            }
        }
    }
    .slick-slide{
        div{
        margin-right: 15px;
         @include media-breakpoint-down(xs){
            margin-right: 0px;
         }
        }
     }
     .slick-current{
        .clint_review{
            background-color: $primaryColor;
            margin-top: 48px;
        }
        
     }
     .prevArrow{
        position: absolute;
        top: 50px;
        right: 46px;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid $darkWhite;
        cursor: pointer;
        @include media-breakpoint-down(xs){
            top: 0;
        }
    }
    .nextArrow{
        position: absolute;
        top: 50px;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $darkWhite;
        cursor: pointer;
        display: flex;
        align-items: end;
        justify-content: center;
        @include media-breakpoint-down(xs){
            top: 0;
        }
    }
}